html {
  max-width: 110ch;
  padding: calc(1vmin + .5rem);
  margin-inline: auto;
  font-size: clamp(1em, 0.909em + 0.45vmin, 1.25em);
  font-family: system-ui
}

/* increase line-height for everything except headings */
body :not(:is(h1,h2,h3,h4,h5,h6,time)) {
  line-height: 1.75;
  color: #555;
}

/* Make headers and bold elements darker */
h1,
h2,
strong {
  color: #333;
}

/* Use default link coloring */
:link { color: #0000EE; }
:visited { color: #551A8B; }
